.main{
    display: flex;
}
.x{
    background-color: rgb(234, 0, 0);
    height: 300px;
    width: 300px;
}
.b
{
    background-color: aqua;
    height: 150px;
    width:300px;
    display: flex;
}
.d{
    background-color: black;
    height: 150px;
    width: 100px;
}
.e{
    background-color: blueviolet;
    height: 150px;
    width: 100px;
}
.f{
    background-color: darkgoldenrod;
    height: 50px;
    width: 50px;
}
.g{
    background-color: orange;
    height: 50px;
    width: 100px;
}
.h{
    background-color: blue;
    height: 50px;
    width: 100px;
}
.i{
    background-color: gold;
    height: 150px;
    width: 150px;
    display: flex;
}
.j{
    background-color: coral;
    height: 75px;
    width: 75px;
}
.k{
    background-color: darkgreen;
    height: 75px;
    width: 75px;
}
.l{
    background-color: beige;
    height: 37.5px;
    width: 75px;
}
